/* 
=================
Imported Fonts
=================
*/

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Titillium+Web:wght@300&display=swap');

/*
font-family: 'Bree Serif', serif;
font-family: 'Titillium Web', sans-serif;
*/

/* 
=================
Global Selectors
=================
*/

html{
    height:100vh;
    width:100%;
}

body{
    background:linear-gradient(rgb(179, 202, 223), rgb(47, 72, 95));
    background-repeat:no-repeat;
    background-attachment: fixed;
    max-width:1440px;
    margin-right:5%;
    margin-left:5%;
    font-size:1em;
    margin-top:0;
    margin-bottom:0;
}

/* 
=================
Main Section Selectors
=================
*/

header{
    background-color:rgb(25, 48, 112);
}

#primenav{
    padding:15px;
}

#titlearea{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(122, 156, 179);
}

#title{
    padding:15px;
}

#search{
    font-family: 'Bree Serif', serif;
    font-size:1rem;
    background-color:rgb(122, 156, 179);
    padding:15px;
}


#secnav{
    padding:10px;
}


main{
    padding:15px;
    background-color:rgb(179, 202, 223);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 30%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap:15px;
    grid-template-areas: 
    "slider slider slider sideinfo1"
    "infogrid infogrid infogrid sideinfo1"
    "infogrid infogrid infogrid sideinfo2"
    "bottominfo bottominfo bottominfo sideinfo2";
}

#slider{
    grid-area: slider;
}

#sideinfo1{
    grid-area: sideinfo1;
    background-color:rgb(163, 174, 196);
    padding:10px;
}

#infogrid{
    grid-area: infogrid;
    background-color:rgb(162, 194, 219);
    padding:10px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}

article {
    width:30%;
    background-color:rgb(245, 239, 186);
    padding:10px;
    margin-bottom:10px;
}

#sideinfo2{
    grid-area: sideinfo2;
    background-color:rgb(113, 163, 197);
    padding:15px;
}

#bottominfo{
    grid-area: bottominfo;
    background-color:rgb(113, 163, 197);
    padding:15px;
}



/* 
=================
Text Format Tag Selectors
=================
*/

#title > h1{
    color:powderblue;
    font-family: 'Bree Serif', serif;
    font-size:2rem;
    line-height: 0;
}

#title > p{
    color:rgb(51, 86, 116);
    font-family: 'Bree Serif', serif;
    font-size:1rem;
    line-height: 0;
}

#search > p{
    font-family: 'Bree Serif', serif;
    font-size:1rem;
    background-color:rgb(122, 156, 179);
}


/* 
=================
Links & Hover Selectors
=================
*/

#primenav > a {
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    color:white;
    font-size:1.2em;
    margin-right:25px;
    transition: .3s ease-in-out;
}

#primenav > a:hover {
    color:rgb(252, 230, 132);
    text-decoration: underline;
}

#secnav > a{
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    color:white;
    font-size:.8em;
    margin-right:20px;
    transition: .3s ease-in-out;
}

#secnav > a:hover {
    color:rgb(252, 230, 132);
    text-decoration: underline;
}