@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Raleway:wght@300&display=swap');

html{
    height:100%;
}
body{
    background:linear-gradient(rgb(182, 182, 218), rgb(108, 114, 148));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:0;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:0;
    font-family: 'Raleway', sans-serif;
    height:100%;
}

header{
    background:linear-gradient(white, rgb(192, 192, 192));
    font-family: 'Merriweather', serif;
    margin-bottom:0;
    padding:10px;
}

header > p{
    font-size:1em;
    color:grey;
}


nav{
    background-color:midnightblue;
    width:100%;
    display: flex;
    flex-direction: row;
}

nav > a:link {
    padding:10px;
    font-size:.8em;
    text-decoration: none;
    color:white;
    background-color:rgb(119, 119, 172);
    margin-right:.5em;
    transition: background-color 0.3s ease;
}
nav > a:visited {
    background-color:rgb(119, 119, 172);
    color:white;
}
nav > a:hover {
    background-color:rgb(194, 126, 188);
}
nav > a:active {
    background-color:rgb(194, 157, 126);
}
#main{
    background:linear-gradient(rgb(119, 119, 172), white);
    height:auto;
    padding:10px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1%;
    row-gap:2%;
}

#left {
    background-color:rgb(197, 197, 197);
    grid-column: 1 ;
    grid-row:1;
    padding:10px;
    height:auto;
    overflow:visible;
}
#right {
    background-color:rgb(197, 197, 197);
    grid-column: 2 ;
    grid-row:1;
    padding:10px;
    height:auto;
}
#bottom {
    background-color:rgb(197, 197, 197);
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row: 2;
    padding:10px;
}

footer{
    background-color:midnightblue;
    margin-top:0;
    padding:10px;
    min-height:fit-content;
    color:rgb(148, 190, 238);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1%;
    row-gap:2%;
}
.info > h3{
    font-family: 'Merriweather', serif;
}
.info > p{
    text-indent: 2ch;
    background-color:rgb(38, 78, 117);
    padding:5px;
    line-height: .7em;
    border-radius: 5px;
    display:flex;
}


